torch
torchvision
torchaudio
lightning
scipy
matplotlib
seaborn
scikit-learn
opencv-python
tqdm
wandb
tensorboard
weave
easydict
timm
GPUtil
pytest
pytest-xdist
pandas
torchinfo
torchviz
graphviz
omegaconf